{% extends 'layout.html' %}

{% block title %}
Commentaires
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="../static/css/comments.css" />
{% endblock %}


{% block header %}
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="/">NOM_SITE</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li><a href="/new_route">Nouveau trajet</a></li>
						<li><a href="/historic">Historique</a></li>
						<li class="active"><a href="#">Commentaires</a></li>
						{% if session.statut == "admin" %}
						<li><a href="/gestion">Gestion</a></li>
						{% else %}
						<li><a href="/profile">Profil</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="/logout"><span>Deconnexion</span></a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">

		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Commentaires</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}


{% block content %}
<form method="POST" action="/addcomment">
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center" data-animate-effect="fadeIn">
					<h5>Ajoutez votre remarque ou proposer un avion à ajouter sur le site</h5>
					<textarea id="comment" name="comment" placeholder="Écrivez votre commentaire ici" class="comment"></textarea>
				<center class="animate-box">
					<button type="submit" class="btn btn-primary">Valider</button>
				</center>
				</div>
			</div>
		</div>
	</div>
</form>

{% if data %}
<h5>Regardez ce que les autres utilisateurs ont écrit</h5>
<div class="col-md-4 col-md-offset-4">
	{% for comment in data %}
	<div class="animate-box">
		<h6>{{comment[1]}} {{comment[0]}} a posté le {{comment[2]}}:</h6>
		<p>{{comment[3]}}</p>
	</div>
	{% endfor %}
</div>
{% endif %}

{% endblock %}
