{% extends 'layout.html' %}

{% block title %}
Commentaires
{% endblock %}

{% block header %}
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="/">NOM_SITE</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li><a href="/new_route">Nouveau trajet</a></li>
						<li><a href="/historic">Historique</a></li>
						<li class="active"><a href="#">Commentaires</a></li>
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="/"><span>Deconnexion</span></a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">

		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Commentaires</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}


{% block content %}
<div id="gtco-features">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}
