{% extends 'layout.html' %}

{% block title %}
CV Concepteurs
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="../static/css/cv.css" />
{% endblock %}

{% block header %}
<nav class="gtco-nav" role="navigation">
	<div class="gtco-container">
		<div class="row">
			<div class="col-xs-2">
				<div id="gtco-logo"><a href="/">NOM_SITE</a></div>
			</div>
			<div class="col-xs-8 text-center menu-1">
				<ul>
					<li><a href="/#gtco-features">Nos avantages</a></li>
					<li><a href="/#gtco-features-2">Tutoriel</a></li>
					<li><a href="/#gtco-counter">Quelques chiffres</a></li>
                    <li><a href="/cv">Concepteurs</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Découvrez les concepteurs du site</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<div id="gtco-features">
	<center class="gtco-container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_florian.png" alt= "cvflorian" title="Florian Barault" height="200px" width="200px"/>
				<h3>Hippolyte Foulongne</h3>
				<h4>Expériences professionnelles</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Formations</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Compétences</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Centres d'intérêt</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
			</div>
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_florian.png" alt= "cvflorian" title="Florian Barault" height="200px" width="200px"/>
				<h3>Florian Barault</h3>
				<h4>Expériences professionnelles</h4>
					<p> Depuis 2020 : membre de l’ASTRE (Association Spatiale
						Toulousaine de Recherche Etudiante) sur un projet de réalisation
						d’une fusée expérimentale</p>
					<p> 2018 : Réalisation d’un drone sous-marin dans le cadre d’un
						projet de science de l’ingénieur</p>
					<p> Mars 2015 : Stage à Météo France au service météo de l’aéroport
						de Nice Côte d’Azur</p>
				<h4>Formations</h4>
					<p> Actuellement à l’ENAC (Ecole Nationale de l’Aviation Civile)</p>
					<p> 2019 – 2020 : Classe préparatoire scientifique
						Math Sup – Math Spé au lycée Stanislas Cannes</p>
					<p> 2018 : Baccalauréat général scientifique mention Très Bien
						Spécialité Sciences de l’ingénieur au lycée Léonard de
						Vinci à Antibes</p>
				<h4>Compétences</h4>
					<p> Anglais courant</p>
					<p> Maitrise du langage de programmation Python
						Projet d’une application de dessin de trajectoires de drones</p>
					<p> Maitrise de la suite Office (Word, Excel, PowerPoint)</p>
					<p> Des bases en HTML/CSS</p>
					<p> Des bases sur SolidWorks</p>
					<p> Des bases sur Adobe Premiere Pro et Adobe After Effects</p>
				<h4>Centres d'intérêt</h4>
					<p> Montage vidéo : Gestion d’une chaîne YouTube</p>
					<p> Jeux vidéo compétitifs et de simulation</p>
			</div>
		</div>
		<HR width="100%" align="center" class="animate-box" data-animate-effect="fadeIn">
		<div class="row">
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_florian.png" alt= "cvflorian" title="Florian Barault" height="200px" width="200px"/>
				<h3>Clément DEHEUNYNCK</h3>
				<h4>Expériences professionnelles</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Formations</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Compétences</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
				<h4>Centres d'intérêt</h4>
					<p>blablablabla</p>
					<p>blablablabla</p>
					<p>blablablabla</p>
			</div>
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_florian.png" alt= "cvflorian" title="Florian Barault" height="200px" width="200px"/>
				<h3>Jacques SERIEN</h3>
				<h4>Expériences professionnelles</h4>
					<p> 2017, Juillet-Aout
						Saisonnier dans un négoce agricole
						(Accueil des clients, entretien, contrôle qualité)</p>
				<h4>Formations</h4>
					<p> 2020- 2023 :
						Master, ENAC (Ecole Nationale de l’Aviation Civile)</p>
					<p> 2017-2020 :
						Classe préparatoire scientifique,
						Lycée Henri Wallon
						Filière PCSI-PSI</p>
					<p> 2017 :
						Baccalauréat scientifique mention Très Bien</p>
				<h4>Compétences</h4>
					<p>Pack Office (Word, Excel, PowerPoint)</p>
					<p>Langage Python</p>
					<p>SolidWorks</p>
					<p>Travail en équipe</p>
					<p>Présentation de projets</p>
					<p>Anglais courant</p>
					<p>Allemand niveau scolaire</p>
					<p>Néerlandais bonnes notions</p>
				<h4>Centres d'intérêt</h4>
					<p>Cyclisme</p>
					<p>Sport automobile (Formule 1, Endurance)</p>
					<p>Lecture (science-fiction, fantasy)</p>
					<p>Musique Rock</p>
			</div>
		</div>
	</center>
</div>
{% endblock %}