{% extends 'layout.html' %}

{% block title %}
CV Concepteurs
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="../static/css/cv.css" />
{% endblock %}

{% block nav %}
<div class="col-xs-8 text-center menu-1">
	<ul>
		<li><a href="/#gtco-features">Nos avantages</a></li>
		<li><a href="/#gtco-features-2">Tutoriel</a></li>
		<li><a href="/#gtco-counter">Quelques chiffres</a></li>
		<li><a href="/cv">Concepteurs</a></li>
	</ul>
</div>
{% endblock %}

{% block header %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Découvrez les concepteurs du site</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<div id="gtco-features">
	<center class="gtco-container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_hippolyte.png" alt= "cvhippolyte" title="Hippolyte Foulongne" height="200px" width="200px"/>
				<h3>Hippolyte Foulongne</h3>
				<h4>Expériences professionnelles</h4>
				<p><b>2015 Stagiaire CHU Montpellier</b></p>
				<p><b>Découverte du monde de l’entreprise.</b></p>
				<p><b>Découverte des activités, du fonctionnement du service visité.</b></p>
				<h4>Formations</h4>
				<b>2020 - 2023 Ecole Nationale de l'Aviation Civile à Toulouse</b>
				<p>Cycle ingénieur</p>
				<b>2018 - 2020 Classe Préparatoire scientifique Lycée Joffre à Montpellier</b>
				<p>Préparation aux concours CPGE</p>
				<b>2015 - 2018 Lycée La Merci à Montpellier</b>
				<p>Baccalauréat général scientifique mention TB</p>
				<h4>Compétences</h4>
				<p><b>Programmer des petits projets Python.</b></p>
				<p><b>Utiliser des outils numériques comme la suite Office.</b></p>
				<p><b>Coordonner un projet informatique de groupe avec git.</b></p>
				<p><b>S’exprimer en anglais dans un cadre professionnel.</b></p>

				<h4>Centres d'intérêt</h4>
				<b>Sports</b>
				<p>Rugby, Fotball, Tennis, Cyclisme</p>
				<b>Musique</b>
				<p>Pratique de la guitare</p>
				<b>Divers</b>
				<p>Modélisme</p>
			</div>
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_florian.png" alt= "cvflorian" title="Florian Barault" height="200px" width="200px"/>
				<h3>Florian Barault</h3>
				<h4>Expériences professionnelles</h4>
				<b>Depuis 2020 :</b>
				<p>Membre de l’ASTRE (Association Spatiale
					Toulousaine de Recherche Etudiante) sur un projet de réalisation
					d’une fusée expérimentale</p>
				<p><b>2018 :</b> Réalisation d’un drone sous-marin dans le cadre d’un
					projet de science de l’ingénieur</p>
				<p> <b>Mars 2015 :</b> Stage à Météo France au service météo de l’aéroport
					de Nice Côte d’Azur</p>
				<h4>Formations</h4>
				<p> Actuellement à l’ENAC (Ecole Nationale de l’Aviation Civile)</p>
				<b>2019 – 2020 :</b>
				<p> Classe préparatoire scientifique
					Math Sup – Math Spé au lycée Stanislas Cannes</p>
				<b>2018 :</b> <p>Baccalauréat général scientifique mention Très Bien
				Spécialité Sciences de l’ingénieur au lycée Léonard de
				Vinci à Antibes</p>
				<h4>Compétences</h4>
				<p> Anglais courant</p>
				<p> Maitrise du langage de programmation Python
					Projet d’une application de dessin de trajectoires de drones</p>
				<p> Maitrise de la suite Office (Word, Excel, PowerPoint)</p>
				<p> Des bases en HTML/CSS</p>
				<p> Des bases sur SolidWorks</p>
				<p> Des bases sur Adobe Premiere Pro et Adobe After Effects</p>
				<h4>Centres d'intérêt</h4>
				<p> Montage vidéo : Gestion d’une chaîne YouTube</p>
				<p> Jeux vidéo compétitifs et de simulation</p>
			</div>
		</div>
		<HR width="100%" align="center" class="animate-box" data-animate-effect="fadeIn">
		<div class="row">
			<div class="col-md-6 animate-box">
				<img src="../static/images/cv_clement.png" alt= "cvclement" title="Clément Deheunynck" height="200px" width="200px"/>
				<h3>Clément DEHEUNYNCK</h3>
				<h4>Expériences professionnelles</h4>
				<b>Mai 2016 – Juin 2016 : Stagiaire EDF HYDRO, Argentat(19)</b>
				<p>Découverte de l’organisation des équipes et du fonctionnement
					général de l’aménagement au sein d’un barrage hydroélectrique</p>
				<p> <b>Mai 2015 – Juin 2015 Stagiaire
					Pharmacie Briançon, Argentat(19)</b> Aide au tri et à l’organisation de l’officine.</p>
				<b>Mai 2018 Concours général des lycées
					Toulouse(31)</b>
				<p>Partcicipation au concours général des lycées dans la catégorie
					« Mathématiques »</p>
				<h4>Formations</h4>
				<b> Présent Ingénieur ENAC (Bac+3) ENAC, Toulouse</b>
				<b>Sept 2018 – Juil 2020 CPGE PCSI / PC
					Lycée Pierre de Fermat, Toulouse</b>
				<p>A l’issue de ces deux années, j’ai passé plusieurs
					concours dont CCINP qui m’a permis d’intégrer l’Ecole
					Nationale Aviation Civile en formation IENAC</p>
				<b>Sept.2017 – Juin2018 Baccalauréat Scientifique Mention TB</b>
				<p>Lycée de l’Annonciation, Seilh</p>
				<h4>Compétences</h4>
				<p> Maitrise du langage de
					programmation Python (réalisation
					d’un éditeur de trajectoires pour
					mini-drones)</p>
				<p> Bases en HTML/CSS</p>
				<p> Rigueur</p>
				<p> Capacité d’adaptation</p>
				<p> Travail en équipe</p>
				<p> Positivité</p>
				<p> Anglais Niveau B2/C1</p>
				<p> Allemand Niveau A2/B1</p>
				<p> Espagnol Niveau A2</p>
				<h4>Centres d'intérêt</h4>
				<p> Tennis (5 ans en club)</p>
				<p> Piano (apprentissage en autonomie)</p>
			</div>
			<div class="col-md-6 animate-box">
				<img src=../static/images/cv_jacques.png alt= "cvjacques" title="Jacques SERIEN" height="200px" width="200px"/>
				<h3>Jacques SERIEN</h3>
				<h4>Expériences professionnelles</h4>
				<b>2017, Juillet-Aout
					Saisonnier dans un négoce agricole</b>
				<p>Accueil des clients, entretien, contrôle qualité</p>
				<h4>Formations</h4>
				<b>2020- 2023 :</b>
				<p>Master, ENAC (Ecole Nationale de l’Aviation Civile)</p>
				<b>2017-2020 :</b>
				<p>Classe préparatoire scientifique,
					Lycée Henri Wallon
					Filière PCSI-PSI</p>
				<b>2017 :</b>
				<p> Baccalauréat scientifique mention Très Bien</p>
				<h4>Compétences</h4>
				<p>Pack Office (Word, Excel, PowerPoint)</p>
				<p>Langage Python</p>
				<p>SolidWorks</p>
				<p>Travail en équipe</p>
				<p>Présentation de projets</p>
				<p>Anglais courant</p>
				<p>Allemand niveau scolaire</p>
				<p>Néerlandais bonnes notions</p>
				<h4>Centres d'intérêt</h4>
				<p>Cyclisme</p>
				<p>Sport automobile (Formule 1, Endurance)</p>
				<p>Lecture (science-fiction, fantasy)</p>
				<p>Musique Rock</p>
			</div>
		</div>
	</center>
</div>
{% endblock %}