{% extends 'layout.html' %}

{% block title %}
Gestion
{% endblock %}

{% block nav %}
<div class="col-xs-8 text-center menu-1">
	<ul>
		<li><a href="/new_route">Nouveau trajet</a></li>
		<li><a href="/historic">Historique</a></li>
		<li><a href="/comments">Commentaires</a></li>
		<li class="active"><a href="/gestion">Gestion</a></li>
	</ul>
</div>
<div class="col-xs-2 text-right hidden-xs menu-2">
	<ul>
		<li class="btn-cta"><a href="/logout"><span>Deconnexion</span></a></li>
	</ul>
</div>
{% endblock %}


{% block header %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Gestion du site</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
<section id="avion">
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-5 animate-box">
					<h3>Enregistrer un nouvel avion</h3>
					<form method="POST" action="/addAvion">
						<div class="row form-group">
							<div class="col-md-12">
								<label>Nom de l'avion</label>
								<input type="text" name="reference" class="form-control" placeholder="Entrez le nom de l'avion" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Rayon d'action (km)</label>
								<input type="number" name ="rayonAction" class="form-control" placeholder="Entrez le rayon d'action l'avion" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Consommation horaire (L/h)</label>
								<input type="number" step="0.1" name ="consoHoraire" class="form-control" placeholder="Entrez la consommation horaire du moteur" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Vitesse de croisière (km/h)</label>
								<input type="number" name ="vitesseCroisiere" class="form-control" placeholder="Entrez la vitesse de croisière de l'avion" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary">Enregistrer</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<h3>Modifier un avion enregistré</h3>
					<form method="POST" action="/gestion#avion">
						<div class="row form-group">
							<div class="col-md-7">
								<select name="selectedAvion" class="form-control">
								<option value="" selected="true" >Veuillez sélectionner un avion</option>
								{% for idAvion, nomAvion in session['avion'].items() %}
									<option value= {{ idAvion }}>{{ nomAvion }}</option>
								{% endfor %}
								</select>
							</div>
							<div class="col-md-5">
								<button type="submit" class="btn btn-primary">Modifier cet avion</button>
							</div>
						</div>
					</form>	
					{% if session['selectedAvion'] != None %}
					<form id="modifAvion" method="POST" action="/modifAvion">
						<div class="row form-group">
							<div class="col-md-5">
								<label>Nom de l'avion</label>
								<label class="form-control">{{ dataAvion["nom"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="text" name="reference" class="form-control" placeholder="Nouveau nom">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Rayon d'action (km)</label>
								<label class="form-control">{{ dataAvion["rayonAction"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="number" name="rayonAction" class="form-control" placeholder="Nouveau rayon action">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Conso horaire (L/h)</label>
								<label class="form-control">{{ dataAvion["consoHoraire"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="number" name="consoHoraire" class="form-control" placeholder="Nouvelle consommation horaire">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Vitesse de croisière (km/h)</label>
								<label class="form-control">{{ dataAvion["vitesseCroisiere"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="number" name="vitesseCroisiere" class="form-control" placeholder="Vitesse de croisière">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<div class="form-group">
									<button for="modifAvion" type="submit" class="btn btn-primary">Enregitrer les modifications</button>
								</div>
							</div>
						</div>
					</form>
					<form method="POST" action="/supprimerAvion">
						<div class="col-md-6">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Supprimer cet avion</button>
							</div>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<section id="aerodrome">
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-5 animate-box">
					<h3>Enregistrer un nouvel aérodrome</h3>
					<form method="POST" action="/addAerodrome">
						<div class="row form-group">
							<div class="col-md-12">
								<label>Code OACI</label>
								<input type="text" name="oaci" pattern="[A-Z]*" class="form-control" placeholder="Entrer le code OACI de l'aérodrome" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Nom</label>
								<input type="text"  name ="nom_ad"  class="form-control" placeholder="Entrez le nom de l'aérodrome" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Latitude</label>
								<input type="number" step="0.000001"  name ="latitude" class="form-control" placeholder="Entrez la latitude de l'aérodrome" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Longitude</label>
								<input type="number" step="0.000001"  name ="longitude" class="form-control" placeholder="Entrez la longitude de l'aérodrome" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary">Enregistrer</button>
							</div>
						</div>
						{% if info == "fail" %}
						<div class="form-group">
							<div class="col-md-6">
								<label class="text-danger text-center fw-bold">Cet aérodrome existe déjà</label>
							</div>
						</div>
						{% endif %}
					</form>
			</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<h3>Modifier un aérodrome</h3>
					<form method="POST" action="/gestion#aerodrome">
						<div class="row form-group">
							<div class="col-md-7">
								<select name="selectedAerodrome"  class="form-control">
									<option value = "" selected="true">Veuillez sélectionner un aérodrome</option>
									{% for OACI, nom_ad in session['aerodrome'].items() %}
										<option value = {{ OACI }}>{{ nom_ad }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-5">
								<button type="submit" class="btn btn-primary">Modifier cet aérodrome</button>
							</div>
						</div>
					</form>
					{% if session['selectedAerodrome'] != None %}
					<form method="POST" action="/modifAerodrome">
						<div class="row form-group">
							<div class="col-md-5">
								<label>Code OACI</label>
								<label class="form-control">{{ dataAerodrome["OACI"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="text" pattern="[A-Z]*" name="oaci" class="form-control" placeholder="Nouveau code OACI">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Nom de l'aérodorme</label>
								<label class="form-control">{{ dataAerodrome["nom_ad"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="text" name="nom_ad" class="form-control" placeholder="Nouveau nom de l'aérodrome">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Latitude</label>
								<label class="form-control">{{ dataAerodrome["latitude"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="number" step="0.000001" name="latitude" class="form-control" placeholder="Nouvelle latitude l'aérodrome">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5">
								<label>Longitude de l'aérodorme</label>
								<label class="form-control">{{ dataAerodrome["longitude"] }}</label>
							</div>
							<div class="col-md-7">
								<label></label>
								<input type="number" step="0.000001" name="longitude" class="form-control" placeholder="Nouveau longitude de l'aérodrome">
							</div>
						</div>
						<div>
							<div class="col-md-6">
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Enregitrer les modifications</button>
								</div>
							</div>
						</div>
						{% if info == "fail" %}
						<div class="form-group">
							<div class="col-md-6">
								<label class="text-danger text-center fw-bold">Ce code OACI est déja utilisé</label>
							</div>
						</div>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<div class="gtco-cover gtco-cover-sm" style="background-image:url(../static/images/img_bg_3.jpg);">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>insérer texte ici</h1>
						<h2>là aussi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}