{% extends 'layout.html' %}

{% block title %}
Historique
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/table.css" />
{% endblock %}


{% block nav %}
<div class="col-xs-8 text-center menu-1">
	<ul>
		<li><a href="/new_route">Nouveau trajet</a></li>
		<li class="active"><a href="/historic">Historique</a></li>
		<li><a href="/comments">Commentaires</a></li>
		{% if session.statut == "admin" %}
		<li><a href="/gestion">Gestion</a></li>
		{% else %}
		<li><a href="/profile">Profil</a></li>
		{% endif %}
	</ul>
</div>
<div class="col-xs-2 text-right hidden-xs menu-2">
	<ul>
		<li class="btn-cta"><a href="/"><span>Deconnexion</span></a></li>
	</ul>
</div>
{% endblock %}


{% block header %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Historique de vol</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
<section id="historic-table">
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Type Avion</th>
                <th>Type Vol</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Date</th>
				<th>Distance (km)</th>
                <th>Estimation (L)</th>
            </tr>
            </thead>
        </table>
    </div>
    {% if data %}
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            {% for vol in data %}
            <tr>
                <td>{{ vol[0] }}</td>
                <td>{{ vol[2] }}</td>
                <td>{{ vol[3] }}</td>
                <td>{{ vol[4] }}</td>
                <td>{{ vol[1] }}</td>
                <td>{{ vol[5] }}</td>
				<td>{{ vol[6] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>
{% endblock %}


{% block JSscript %}
<script src="../static/js/table.js"></script>
{% endblock %}
