{% extends 'layout.html' %}

{% block title %}
Karburathor3000 &mdash; Accueil
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock %}

{% block nav %}
<div class="col-xs-8 text-center menu-1">
	<ul>
		<li><a href="#gtco-features">Nos avantages</a></li>
		<li><a href="#gtco-features-2">Tutoriel</a></li>
		<li><a href="#gtco-counter">Quelques chiffres</a></li>
		<li><a href="/cv">Concepteurs</a></li>
	</ul>
</div>
{% endblock %}


{% block header %}
<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Karburathor3000</h1>
						<h2>Estimateur de consommation aéronautique</h2>
						<img src="../static/images/logo.png" alt= "logo" height="300px" width="352px"/>
						<p><a href="/login" class="btn btn-default">Je me connecte</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
<div id="gtco-features">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<span style="font-size: 3.1em; color: #2BCFBB;">
							<i class="fas fa-plane-departure"></i>
						</span>
					</span>
					<h3>Bilan Carburant</h3>
					<p>Calculer en quelques clics la quantité de carburant nécessaire pour votre vol VFR</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<span style="font-size: 3.3em; color: #2BCFBB;">
							<i class="fas fa-table"></i>
						</span>
					</span>
					<h3>Historique de vol</h3>
					<p>Conserver un historique des vols effectués pour faciliter vos futurs vols</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<span style="font-size: 3.3em; color: #2BCFBB;">
							<i class="fas fa-globe-europe"></i>
						</span>
					</span>
					<h3>Couverture Nationale</h3>
					<p>Plus de 100 aérodromes enregistrés en base de donnée, de quoi couvrir l'ensemble du territoire français</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="gtco-features-2">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>Vidéo explicative</h2>
				<p>[Bientôt disponible]</p>
				<div class="gtco-video gtco-bg" style="background-image: url(../static/images/img_1.jpg); ">
					<a href="" class=""><i class="icon-video2"></i></a>
					<div class="overlay"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:url(../static/images/img_bg_2.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="display-tc">
				<div class="counter-label feature-center">Notre site c'est :</div>
				<div class="col-md-3 col-sm-6 animate-box">
					<div class="feature-center">
							<span class="icon">
								<span style="font-size: 2.6em; color: #2BCFBB;">
									<i class="fas fa-gas-pump"></i>
								</span>
							</span>
						<span class="counter js-counter" data-from="0" data-to={{ session.totalCarburant }}
							  data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Litres de carburant consommés</span>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box">
					<div class="feature-center">
							<span class="icon">
								<span style="font-size: 2.6em; color: #2BCFBB;">
									<i class="fas fa-users"></i>
								</span>
							</span>
						<span class="counter js-counter" data-from="0" data-to={{ session.totalUser }} data-speed="5000"
							  data-refresh-interval="50">1</span>
						<span class="counter-label">Pilotes</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box">
					<div class="feature-center">
							<span class="icon">
								<span style="font-size: 2.6em; color: #2BCFBB;">
									<i class="fas fa-plane"></i>
								</span>
							</span>
						<span class="counter js-counter" data-from="0" data-to={{ session.totalFlight }}
							  data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Vols</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box">
					<div class="feature-center">
							<span class="icon">
								<span style="font-size: 2.6em; color: #2BCFBB;">
									<i class="fas fa-road"></i>
								</span>
							</span>
						<span class="counter js-counter" data-from="0" data-to={{ session.totalDistance }}
							  data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Milles Nautiques parcourus</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}