{% extends 'layout.html' %}

{% block title %}
Connectez-vous
{% endblock %}

{% block header %}
<nav class="gtco-nav" role="navigation">
	<div class="gtco-container">
		<div class="row">
			<div class="col-xs-2">
				<div id="gtco-logo"><a href="/">NOM_SITE</a></div>
			</div>
			<div class="col-xs-8 text-center menu-1">
				<ul>
					<li><a href="/#gtco-features">Nos avantages</a></li>
					<li><a href="/#gtco-features-2">Tutoriel</a></li>
					<li><a href="/#gtco-counter">Quelques chiffres</a></li>
					<li><a href="/cv">Concepteurs</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Rejoignez-nous</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">

			<section id="signUp">
				<div class="col-md-6 animate-box">
					<h3>S'enregistrer</h3>
					<form method="POST" action="/signUp">
						<div class="row form-group">
							<div class="col-md-6">
								<label>Prénom</label>
								<input type="text" name="prenom" class="form-control" placeholder="Votre prénom" required>
							</div>
							<div class="col-md-6">
								<label>Nom</label>
								<input type="text" name="nom" class="form-control" placeholder="Votre nom" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Email</label>
								<input type="email" name="email" class="form-control" placeholder="Votre adresse mail" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Mot de passe</label>
								<input type="password"  name ="mdp1" class="form-control" placeholder="Entrez votre mot de passe" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<input type="password" name="mdp2" class="form-control" placeholder="Confirmez votre mot de passe" required>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Certification</label>
								<select name="certification" class="form-control">
								<option value="0" selected="true" >Veuillez sélectionner votre qualification</option>
								<option value="1">LAPL</option>
								<option value="2">PPL</option>
								<option value="3">CPL</option>
								<option value="4">ATPL</option>
								<option value="5">Autres</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary">S'enregistrer</button>
							</div>
							<div class="col-md-6">
								{% if info and info == "errorSignUp" %}
								<div class="text-danger text-center fw-bold">Un compte est déjà associé à cette adresse mail</div>
								{% endif %}
								{% if info and info == "errorMdp" %}
								<div class="text-danger text-center fw-bold">Mots de passe différents</div>
								{% endif %}

							</div>
						</div>

					</form>
		</div>
			</section>
			<section id="signIn">
				<div class="col-md-5 col-md-push-1 animate-box">
					<h3>Déjà membre ? Connectez-vous</h3>
					<form method="POST" action="/signIn">
						<div class="row form-group">
							<div class="col-md-12">
								<label>Identifiant</label>
								<input type="email" name="login" class="form-control" placeholder="Votre adresse mail">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label>Mot de passe</label>
								<input type="password" name="password" class="form-control" placeholder="Votre mot de passe">
							</div>
						</div>
						<div>
							<div class="col-md-6">
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Se connecter</button>
								</div>
							</div>
							<div class="col-md-6">
								{% if info and info == "errorSignIn" %}
								<div class="text-danger text-center fw-bold">Erreur d'authentification</div>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="gtco-cover gtco-cover-sm" style="background-image:url(../static/images/img_bg_3.jpg);">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>insérer texte ici</h1>
						<h2>là aussi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}