{% extends 'layout.html' %}

{% block title %}
Nouvelle route
{% endblock %}

{% block header %}
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="/">NOM_SITE</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li class="active"><a href="#">Nouveau trajet</a></li>
						<li><a href="#">Historique</a></li>
						<li><a href="#">Commentaires</a></li>
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="#"><span>Deconnexion</span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">

		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Nouveau trajet</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
<div id="gtco-features">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<label for="S1" >Type d'avion</label>
					<select name="select" id="S1">
						<option value="" selected="true" >Veuillez sélectionner un avion</option>
						<option value="1">Avion 1</option>
						<option value="2">Avion 2</option>
						<option value="3">Avion 3</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}
