{% extends 'layout.html' %}

{% block title %}
Récapitulatif
{% endblock %}

{%block CSSlink %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/table.css" />
<link rel="stylesheet" href="../static/library/openlayersv6.5.0/css/ol.css" />
<link rel="stylesheet" href="../static/css/ol.css" />
{% endblock %}


{% block nav %}
<div class="col-xs-8 text-center menu-1">
	<ul>
		<li class="active"><a href="/new_route">Nouveau trajet</a></li>
		<li><a href="/historic">Historique</a></li>
		<li><a href="/comments">Commentaires</a></li>
		{% if session.statut == "admin" %}
		<li><a href="/gestion">Gestion</a></li>
		{% else %}
		<li><a href="/profile">Profil</a></li>
		{% endif %}
	</ul>
</div>
<div class="col-xs-2 text-right hidden-xs menu-2">
	<ul>
		<li class="btn-cta"><a href="/logout"><span>Deconnexion</span></a></li>
	</ul>
</div>
{% endblock %}


{% block header %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Récapitulatif du vol</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
<div id="gtco-features">
	<center class="gtco-container">
		<div id="ol_localisation" class="map"></div>
	</center>
</div>

<section id="historic-table">
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Dégagement</th>
                <th>Distance (km)</th>
				<th>Estimation (L)</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        {% if table %}
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            {% for etape in table %}
            <tr>
                <td>{{ etape[0] }}</td>
                <td>{{ etape[1] }}</td>
                <td>{{ etape[2] }}</td>
                <td>{{ etape[4] }}</td>
				<td>{{ etape[3] }}</td>
            </tr>
            {% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Distance totale : {{ dist_totale }}</td>
				<td>Consommation totale : {{ conso_totale }}</td>
			</tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</section>
{% endblock %}


{% block JSscript %}
<script src="../static/js/table.js"></script>
<script src="../static/library/openlayersv6.5.0/build/ol.js"></script>
<script src="../static/js/functionOpenLayer.js"></script>
<script src="../static/js/ol_map_recap.js"></script>
<script>
	initMap({{coord_map | tojson }});
</script>
{% endblock %}