h3
{
text-align: center;
text-transform: uppercase;
font-weight: 700;
color: #1DBAC6;
font-size: 2em;
letter-spacing: 5px;
}

img{
margin-bottom:20px;

}

h4
{
margin-top: 20px;
text-align: center;
text-transform: uppercase;
font-weight: 700;
color: #1E68BD;
letter-spacing: 5px;

}

p
{
margin: 10px 15px;

}

HR
{
margin: 100px 0px;

}